"# Build directories" 
"build/" 
"*/build/" 
"*/*/build/" 
"*/*/*/build/" 
"*/*/*/*/build/" 
"" 
"# Explicitly exclude Google repos" 
"**/googlebenchmark-src/" 
"**/googletest-src/" 
"" 
"# Dependencies directories" 
"_deps/" 
"*/_deps/" 
"*/*/_deps/" 
"*/*/*/_deps/" 
"*/*/*/*/_deps/" 
